<div >
    <h1 class="text-center text-4xl font-bold my-10">Listado de productos</h1>

   <div class="grid grid-cols-3">
    
        {{#each data}}
    <div class="max-w-sm mx-auto bg-white shadow-md rounded-md overflow-hidden mb-4 ">
        <div class="p-4">
            <h2 class="text-xl font-semibold">{{this.title}}</h2>
            <img src="{{this.thumbnails}}" alt="{{this.title}}">
            <p class="text-gray-600">{{this.description}}</p>
            <p class="text-gray-800 font-bold">${{this.price}}</p>
    
            <p class="text-gray-600">Código: {{this.code}}</p>
            <p class="text-gray-600">Stock: {{this.stock}}</p>
            <p class="text-gray-600">Categoría: {{this.category}}</p>
            <p class="text-gray-600">ID: {{this._id}}</p>
        </div>
    </div>
        {{/each}}
   </div>
</div>